.text {
  color: #505050 !important;
}
.green {
  color: #33ac37 !important;
}
.d-green {
  color: #307511 !important;
}
.grey {
  color: #969696 !important;
  color: rgba(80, 80, 80, 0.65) !important;
}
.error {
  color: #b4302a !important;
}
.warning {
  color: #9b8a1f !important;
}
.white {
  color: #ffffff !important;
}
.d-white {
  color: #b9b9b9 !important;
  color: rgba(255, 255, 255, 0.65) !important;
}
.bg-white {
  background-color: #fff;
}
.bg-green {
  background-color: #dcf3da;
  color: #307511;
}
.bg-warning {
  background: #f3f1da;
  color: #9b8a1f;
}
.bg-error {
  background-color: #f3dbd9;
  color: #b4302a;
}
.bg-grey {
  background: #fbfbfb;
}
.tip {
  broder-radius: 3px;
  padding: 16px 8px;
}
.t-d-l-t {
  text-decoration: line-through;
}
.t-sm {
  font-size: 12px !important;
}
.t {
  font-size: 14px !important;
}
.t-md {
  font-size: 16px !important;
}
.t-lg {
  font-size: 18px !important;
}
.t-20 {
  font-size: 20px !important;
}
.t-36 {
  font-size: 36px !important;
}
.t-24 {
  font-size: 24px !important;
}
.t-48 {
  font-size: 48px !important;
}
.t-80 {
  font-size: 80px !important;
}
.bold {
  font-weight: 600;
}
.bolder {
  font-weight: 700;
}
.light {
  font-weight: 500;
}
.lighter {
  font-weight: 200;
}
@media screen and (min-width: 0) {
  .t-sm {
    font-size: .12rem !important;
  }
  .t {
    font-size: .14rem !important;
  }
  .t-md {
    font-size: .16rem !important;
  }
  .t-lg {
    font-size: .18rem !important;
  }
  .t-36 {
    font-size: .36rem !important;
  }
  .t-24 {
    font-size: .24rem !important;
  }
  .t-20 {
    font-size: .20rem !important;
  }
}
.t-l {
  text-align: left !important;
}
.t-r {
  text-align: right !important;
}
.t-c {
  text-align: center !important;
}
.v-m {
  vertical-align: middle !important;
}
.v-t {
  vertical-align: top;
}
.v-b {
  vertical-align: bottom;
}
.p-l-xl {
  padding-left: 0.3rem;
}
.p-r-xl {
  padding-right: 0.3rem;
}
.p-t-lg {
  padding-top: 0.2rem;
}
.p-b-xl {
  padding-bottom: 0.2rem;
}
.p-t-b-10 {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}
.p-l-xxl {
  padding-left: 0.5rem;
}
.p-r-xxl {
  padding-right: 0.5rem;
}
.p-t-xxl {
  padding-top: 0.5rem;
}
.p-b-xxl {
  padding-bottom: 0.5rem;
}
.p-t-xl {
  padding-top: 0.2rem;
}
.m-a {
  margin: 0.2rem;
}
.m-a-sm {
  margin: 0.1rem;
}
.m-a-lg {
  margin: 0.4rem;
}
.m-a-xs {
  margin: 0.05rem;
}
.m-l {
  margin-left: 0.2rem;
}
.m-r {
  margin-right: 0.2rem;
}
.m-t {
  margin-top: 0.2rem;
}
.m-b {
  margin-bottom: 0.2rem;
}
.m-l-lg {
  margin-left: 0.4rem;
}
.m-r-lg {
  margin-right: 0.4rem;
}
.m-t-lg {
  margin-top: 0.4rem;
}
.m-b-lg {
  margin-bottom: 0.4rem;
}
.m-l-sm {
  margin-left: 0.1rem;
}
.m-r-sm {
  margin-right: 0.1rem;
}
.m-t-sm {
  margin-top: 0.1rem;
}
.m-b-sm {
  margin-bottom: 0.1rem;
}
.m-l-xs {
  margin-left: 0.05rem;
}
.m-r-xs {
  margin-right: 0.05rem;
}
.m-t-xs {
  margin-top: 0.05rem;
}
.m-b-xs {
  margin-bottom: 0.05rem;
}
.p-a {
  padding: 0.15rem;
}
.p-a-sm {
  padding: 0.08rem;
}
.p-a-xs {
  padding: 0.04rem;
}
.p-a-lg {
  padding: 0.2rem;
}
.p-l {
  padding-left: 0.15rem;
}
.p-r {
  padding-right: 0.15rem;
}
.p-t {
  padding-top: 0.15rem;
}
.p-b {
  padding-bottom: 0.15rem;
}
.p-l-sm {
  padding-left: 0.08rem;
}
.p-r-sm {
  padding-right: 0.08rem;
}
.p-t-sm {
  padding-top: 0.08rem;
}
.p-b-sm {
  padding-bottom: 0.08rem;
}
.p-l-xs {
  padding-left: 0.04rem;
}
.p-r-xs {
  padding-right: 0.04rem;
}
.p-t-xs {
  padding-top: 0.04rem;
}
.p-b-xs {
  padding-bottom: 0.04rem;
}
.p-l-lg {
  padding-left: 0.2rem;
}
.p-r-lg {
  padding-right: 0.2rem;
}
.p-t-lg {
  padding-top: 0.2rem;
}
.p-b-lg {
  padding-bottom: 0.2rem;
}
html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img {
  margin: 0;
  padding: 0;
}
html {
  width: 100%;
  min-height: 100%;
}
body {
  color: #505050;
  font-size: 14px;
  font-family: "Microsoft Yahei", "PingFang SC", "SimSun", "Helvetica Neue", Helvetica, Arial, sans-serif, Tahoma;
  background: #eee;
  line-height: 1.5;
  height: 100%;
}
fieldset,
img {
  border: none;
}
img {
  display: inline-block;
  vertical-align: middle;
}
ul,
ol {
  list-style: none;
}
input {
  font-family: "Microsoft Yahei", "PingFang SC", "SimSun", "Helvetica Neue", Helvetica, Arial, sans-serif, Tahoma;
}
input::-moz-focus-inner {
  border: none;
  padding: 0;
}
select,
input,
textarea {
  margin: 0;
}
input[type="text"],
input[type="password"],
textarea {
  outline-style: none;
  -webkit-appearance: none;
}
textarea {
  resize: none;
}
input,
textarea {
  background: none;
  border: none;
}
button {
  font-family: "Microsoft Yahei", "PingFang SC", "SimSun", "Helvetica Neue", Helvetica, Arial, sans-serif, Tahoma;
}
table {
  border-collapse: collapse;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: inherit;
}
a:visited {
  color: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
label {
  font-weight: normal;
}
li,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
td,
label {
  color: inherit;
  font-size: inherit;
  text-align: left;
}
@media screen and (min-width: 0) {
  body {
    font-size: .14rem;
  }
}
div {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
}
input[type="radio"],
input[type="checkbox"] {
  margin-right: 3px;
}
input.search {
  width: .220rem;
}
b {
  display: inline-block;
  vertical-align: middle;
}
i {
  cursor: pointer;
}
i:before {
  cousor: pointer;
}
.control-group .controls label input[type="checkbox"],
.control-group .controls label input[type="radio"] {
  vertical-align: middle;
}
.scroll-x {
  overflow-y: visible !important;
  overflow-x: auto !important;
}
.scroll-y {
  overflow-x: visible !important;
  overflow-y: auto !important;
}
.hide {
  display: none;
}
.hide-confirm {
  display: none !important;
}
.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}
.t-u {
  text-decoration: underline;
}
a.grey-f:hover {
  color: #999999;
}
.blue {
  color: #65b3d1 !important;
}
a.blue:hover {
  color: #519fbd !important;
}
a.m-f:hover {
  color: #1f9823;
}
.d-b {
  display: block !important;
}
.d-ib {
  display: inline-block !important;
}
.d-i {
  display: inline !important;
}
.d-cell {
  display: table-cell !important;
  vertical-align: top;
}
.d-tb {
  display: table !important;
}
.full-w {
  width: 100% !important;
}
.full-h {
  height: 100% !important;
}
.pos-r {
  position: relative;
}
.pos-a {
  position: absolute;
}
.pos-f {
  position: fixed;
}
.pos-s {
  position: static;
}
.b-l {
  border-left: 1px solid #d7d7d7;
}
.b-r {
  border-right: 1px solid #d7d7d7;
}
.b-t {
  border-top: 1px solid #d7d7d7;
}
.b-b {
  border-bottom: 1px solid #d7d7d7;
}
.w-300 {
  width: 3rem !important;
}
.w-200 {
  width: 2rem !important;
}
.w-120 {
  width: 1.20rem !important;
}
.w-100 {
  width: 1.0rem !important;
}
.w-80 {
  width: .8rem !important;
}
.clearfix,
.clear {
  clear: both;
  zoom: 1;
}
.clearfix:before,
.clear:before,
.clearfix:after,
.clear:after {
  content: "";
  display: table;
  clear: both;
}
.container {
  margin: 0 auto;
}
.container:before,
.container:after {
  display: table;
  line-height: 0;
  clear: both;
}
@media screen and (max-width: 414px) {
  body,
  select,
  input,
  textarea {
    font-size: 14px;
  }
}
@media screen and (max-width: 640px) {
  html {
    font-size: 625%;
  }
}
